body{
	background-color: #f5f5f5;
} 
.main-Box{
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-top:100px;
}
.pager li {
	display: inline-block;
	list-style: none;
	padding: 5px 17px;
	border: #ffffff 1px solid;
	background: #ffffff;
}
li{
	color: #bbbbbb;
}
li.prev{
	color: #ff9800;
}
li.current{
	color: #161616;
}
.text-place p {
	font-size: 15px;
	font-family: "Open Sans";;
}
.nameAndEmail{
	padding-top: 40px;
}
.nameAndEmail input {
	width: 270px;
	height: 30px;
}
.countryCity{
	padding-top: 40px;
}
.countryCity input{
	width: 270px;
	height: 30px;
}
.buttons input{	
    width: 135px;
    background: #ffffff;
    color: #ff9800;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0,2);
}
.buttons{
	padding-top: 150px;
    text-align: center; 
}
.prevPage {
    width: 129px;
    height: 30px;
    background: #ffffff;
    color: #ff9800;
    float: left;    
	margin-right: 8px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	padding-top: 5px;
}
.nextPage {
    width: 129px;
    height: 30px;
    background: #ffffff;
    color: #ff9800;
    float: left;
	margin-left : 8px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	padding-top: 5px;
}
.social{
	padding-top: 40px;
}
.facebook p{
	display: inline-block;
    vertical-align: top;
}
.vkontakte p{
	display: inline-block;
    vertical-align: top;
}
.twitter p{
	display: inline-block;
    vertical-align: top;
}
.odnoklassniki p{
	display: inline-block;
    vertical-align: top;
}
.catPic p{
	display: inline-block;
    vertical-align: top;
}
.finish {
    width: 129px;
    height: 30px;
    background: #ff9800;
    color: white;
    float: left;
	margin-left : 8px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	text-align: center;
	padding-top: 5px;
}
#picture {
	border : 2px solid #ff9800;
}
#dogPicture {
	border : 2px solid red;
}
.returnTest {
    width: 129px;
    height: 30px;
    background: #ff9800;
    color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	text-align: center
}
#usrName {
	padding-top: 20px; 
	padding-left: 30px;
	width: 250px;
}
#usrEmail {
	padding-top: 20px; 
	padding-left: 30px;
	width: 250px;
}
#usrCity {
	padding-top: 50px; 
	padding-left: 30px;
	width: 250px;
}
#usrSocial {
	padding-top: 50px; 
	padding-left: 30px;
	width: 300px;
}
#wrapper {
    width: 600px;
    height: 350px;
    overflow: hidden;
    background: white;
}
.resultWindow {
	width: 300px;
	height: 350px;
	padding-right: 0px;
    margin: 7px;
    padding: 10px;
    float:left; 
}
.resIMG {
	float:left; 
}